<div class="flex flex-col justify-between px-6 py-36 h-screen">
  <div>
    <h3 class="text-lg leading-6 text-themeWhite pl-1 mb-2">Hi all. I am</h3>
    <h6 class="text-6xl text-themeWhite">Zhenqing</h6>
    <h6 class="text-6xl text-themeWhite">Lang</h6>
    <h3 class="text-lg text-themeGreen pl-1">> Software Developer, "Investor"</h3>
  </div>
  <div class="text-sm space-y-4">
    <h3>/* find my profile on GitHub: */</h3>
    <p class="text-[0px]">
      <span class="text-themeBlue text-sm">var </span>
      <span class="text-themeGreen text-sm">github_link </span>
      <span class="text-themeWhite text-sm">= </span>
      <a href="https://github.com/Langzzzzzz">
        <span class="text-themeRed text-sm">"https://github.com/Langzzzzzz"</span>
      </a>
      <span class="text-themeWhite text-sm">;</span>
    </p>
  </div>
</div>
